dist/
*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.python-version
.plone-version
.plone*
checkversion*.html
pyvenv.cfg
CACHEDIR.TAG
bin/
develop-eggs/
include/
lib/
lib64
local/
parts/
share/
src/*
!src/communesplone
var/
